<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91937976154-d6fsfic3n0pbi2enb4dtcdrikr5dah3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91937976154-d6fsfic3n0pbi2enb4dtcdrikr5dah3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDme1fppczZn6-AXwkB0rYUPPqpiVEOz_8</string>
	<key>GCM_SENDER_ID</key>
	<string>91937976154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roman.WWOF</string>
	<key>PROJECT_ID</key>
	<string>wwof-badwolf</string>
	<key>STORAGE_BUCKET</key>
	<string>wwof-badwolf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91937976154:ios:c5f40bff179712e17e0d63</string>
</dict>
</plist>